<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans:600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html", json.project) %>
  </head>
  <body>

    <div class="fixed-frame"></div>

    <main class="scroll">

      <div class="ad-spot">
        <%= t.include("partials/_ad.html", { type: "banner" }) %>
      </div>
      <header class="intro">
        <nav class="logo-bar">
          <a class="logo" href="http://seattletimes.com">
            <img src="./assets/st-logo.png">
          </a>
        </nav>

        <div class="contents">

          <h1><%= json.project.title %></h1>

          <p>
            CHATTER GOES HERE.

          <div class="social">
            <a class="share"></a>
          </div>

          <p class="byline">
            <span class="byline-name">Reporting by REPORTER X</span>
          </p>

          <p class="instructions">
            <i class="fa fa-chevron-down"></i>
            Scroll to continue
            <i class="fa fa-chevron-down"></i>

        </div>

      </header>

    <% json.photos.sort(function(a, b) { return a.order - b.order }).forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

      <footer>
        <a class="logo" href="http://seattletimes.com">
          <img src="./assets/st-logo.png">
        </a>
        <a class="share-bottom"></a>
      </footer>

    </main>

    <aside class="no-mobile-portrait">
      <a class="ok" href="javascript:;">
        <i class="fa fa-times-circle-o"></i>
      </a>
      Hey! This page is designed to look best in landscape mode. Rotate your device to see for yourself.
      <i class="fa fa-rotate-left rotation"></i>
    </aside>

    <script src="app.js"></script>
    <%= t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
